<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.library.mapper.NoticeMapper">


    <resultMap id="BaseResultMap" type="com.github.library.entity.Notice">
        <id column="n_id" jdbcType="INTEGER" property="nId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.github.library.entity.Notice">
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>


    <sql id="selectWhere">
        <where>
            <if test="nId != null">
                and n_id=#{nId}
            </if>
            <if test="title != null and title != ''">
                and title=#{title}
            </if>
            <if test="time != null">
                and time=#{time}
            </if>
            <if test="userId != null">
                and user_id=#{userId}
            </if>
            <if test="content != null">
                and content=#{content}
            </if>
            <if test="true">
                or 1=0
            </if>
        </where>
    </sql>

    <sql id="Base_Column_if1_Selective">
        <if test="nId != null">
            n_id,
        </if>
        <if test="title != null">
            title,
        </if>
        <if test="time != null">
            time,
        </if>
        <if test="userId != null">
            user_id,
        </if>
        <if test="content != null">
            content,
        </if>
    </sql>

    <sql id="Base_Column_if2_Selective">
        <if test="nId != null">
            #{nId,jdbcType=INTEGER},
        </if>
        <if test="title != null">
            #{title,jdbcType=VARCHAR},
        </if>
        <if test="time != null">
            #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="userId != null">
            #{userId,jdbcType=INTEGER},
        </if>
        <if test="content != null">
            #{content,jdbcType=LONGVARCHAR},
        </if>
    </sql>

    <select id="findOfList" resultMap="ResultMapWithBLOBs">
        select * from t_notice
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_notice
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="ResultMapWithBLOBs">
        select * from t_notice
        where n_id=#{nId}
    </select>

    <select id="findOneSelective" resultMap="ResultMapWithBLOBs">
        select * from t_notice
        <include refid="selectWhere"/>
    </select>



    <insert id="addOneSelective">
        insert into t_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if1_Selective"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if2_Selective"/>
        </trim>
    </insert>

    <update id="updateOneSelective">
        update t_notice
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where n_id = #{nId,jdbcType=INTEGER}
    </update>

    <delete id="deleteOne" parameterType="int">
        delete from t_notice
        where n_id = #{nId,jdbcType=INTEGER}
    </delete>

</mapper>