<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.library.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.github.library.entity.Role">
        <id column="r_id" jdbcType="INTEGER" property="rId" />
        <result column="r_name" jdbcType="VARCHAR" property="rName" />
        <result column="r_power" jdbcType="INTEGER" property="rPower" />
        <result column="r_desc" jdbcType="VARCHAR" property="rDesc" />
    </resultMap>


    <sql id="selectWhere">
        <where>
            <if test="rId != null">
                and r_id=#{rId}
            </if>
            <if test="rName != null">
                and r_name=#{rName}
            </if>
            <if test="rName != null">
                and r_power=#{rName}
            </if>
            <if test="rName != null">
                and r_desc=#{rName}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_if1_Selective">
        <if test="rId != null">
            r_id,
        </if>
        <if test="rName != null">
            r_name,
        </if>
        <if test="rPower != null">
            r_power,
        </if>
        <if test="rDesc != null">
            r_desc,
        </if>
    </sql>

    <sql id="Base_Column_if2_Selective">
        <if test="rId != null">
            #{rId,jdbcType=INTEGER},
        </if>
        <if test="rName != null">
            #{rName,jdbcType=VARCHAR},
        </if>
        <if test="rPower != null">
            #{rPower,jdbcType=INTEGER},
        </if>
        <if test="rDesc != null">
            #{rDesc,jdbcType=VARCHAR},
        </if>
    </sql>

    <select id="findOfList" resultMap="BaseResultMap">
        select * from t_role
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_role
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_role
        where r_id=#{rId}
    </select>

    <select id="findOneSelective" resultMap="BaseResultMap">
        select * from t_role
        <include refid="selectWhere"/>
    </select>



    <insert id="addOneSelective">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if1_Selective"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if2_Selective"/>
        </trim>
    </insert>

    <update id="updateOneSelective">
        update t_role
        <set>
            <if test="rName != null">
                r_name = #{rName,jdbcType=VARCHAR},
            </if>
            <if test="rPower != null">
                r_power = #{rPower,jdbcType=INTEGER},
            </if>
            <if test="rDesc != null">
                r_desc = #{rDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where r_id = #{rId,jdbcType=INTEGER}
    </update>

    <delete id="deleteOne" parameterType="int">
        delete from t_role
        where r_id = #{rId,jdbcType=INTEGER}
    </delete>

</mapper>