<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.library.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.library.entity.User">
        <id column="u_id" jdbcType="INTEGER" property="uId"/>
        <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid"/>
        <result column="u_account" jdbcType="VARCHAR" property="uAccount"/>
        <result column="u_password" jdbcType="VARCHAR" property="uPassword"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
    </resultMap>


    <sql id="selectWhere">
        <where>
            <if test="uId != null">
                and u_id=#{uId}
            </if>
            <if test="wxOpenid != null and wxOpenid != ''">
                and wx_openid=#{wxOpenid}
            </if>
            <if test="uAccount != null and uAccount != ''">
                and u_account=#{uAccount}
            </if>
            <if test="uPassword != null and uPassword != ''">
                and u_password=#{uPassword}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name=#{nickName}
            </if>
            <if test="gender != null">
                and gender=#{gender}
            </if>
            <if test="email != null and email != ''">
                and email=#{email}
            </if>
            <if test="phone != null">
                and phone=#{phone}
            </if>
            <if test="avatarurl != null and avatarurl != ''">
                and avatarUrl=#{avatarurl}
            </if>
            <if test="country != null and country != ''">
                and country=#{country}
            </if>
            <if test="province != null and province != ''">
                and province=#{province}
            </if>
            <if test="city != null and city != ''">
                and city=#{city}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime}
            </if>
            <if test="lastLoginTime != null">
                and last_login_time=#{lastLoginTime}
            </if>
            <if test="desc != null and desc != ''">
                and `desc`=#{desc}
            </if>
        </where>
    </sql>

    <select id="findOfList" resultMap="BaseResultMap">
        select * from t_user
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_user
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_user
        where u_id=#{id}
    </select>

    <select id="findOneSelective" resultMap="BaseResultMap">
        select * from t_user
        <include refid="selectWhere"/>
    </select>

    <insert id="addOne">
    insert into t_user (wx_openid, u_account,
      u_password, nick_name, gender,
      email, phone, avatarUrl,
      country, province, city,
      status, create_time, update_time,
      last_login_time, `desc`)
    values (#{wxOpenid,jdbcType=VARCHAR}, #{uAccount,jdbcType=VARCHAR},
      #{uPassword,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR},
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR})
    </insert>

    <update id="updateOne">
        update t_user
        <set>
            <if test="wxOpenid != null and wxOpenid != ''">
                wx_openid = #{wxOpenid},
            </if>
            <if test="uAccount != null and uAccount != ''">
                u_account = #{uAccount},
            </if>
            <if test="uPassword != null and uPassword != ''">
                u_password = #{uPassword},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="avatarurl != null and avatarurl != ''">
                avatarUrl = #{avatarurl},
            </if>
            <if test="country != null and country != ''">
                country = #{country},
            </if>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="desc != null and desc != ''">
                `desc` = #{desc},
            </if>
        </set>
        where u_id = #{uId}
    </update>


</mapper>