<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.library.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.library.entity.User">
        <id column="u_id" jdbcType="INTEGER" property="uId" />
        <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid" />
        <result column="u_account" jdbcType="VARCHAR" property="uAccount" />
        <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="gender" jdbcType="TINYINT" property="gender" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
    </resultMap>


    <sql id="selectWhere">
        <where>
            <if test="t.uId != null">
                and u_id = #{t.uId}
            </if>
            <if test="t.wxOpenid != null and t.wxOpenid != ''">
                and wx_openid =#{t.wxOpenid}
            </if>
            <if test="t.uAccount != null and t.uAccount != ''">
                and u_account=#{t.uAccount}
            </if>
            <if test="t.uPassword != null and t.uPassword != ''">
                and u_password=#{t.uPassword}
            </if>
            <if test="t.nickName != null and t.nickName != ''">
                and nick_name=#{t.nickName}
            </if>
            <if test="t.gender != null">
                and gender=#{t.gender}
            </if>
            <if test="t.email != null and t.email != ''">
                and #{t.email}
            </if>
            <if test="t.phone != null">
                and phone=#{t.phone}
            </if>
            <if test="t.avatarurl != null and t.avatarurl != ''">
                and avatarUrl=#{t.avatarurl}
            </if>
            <if test="t.country != null and t.country != ''">
                and country=#{t.country}
            </if>
            <if test="t.province != null and t.province != ''">
                and province=#{t.province}
            </if>
            <if test="t.city != null and t.city != ''">
                and city=#{t.city}
            </if>
            <if test="t.status != null">
                and #{t.status}
            </if>
            <if test="t.createTime != null">
                and #{t.createTime}
            </if>
            <if test="t.updateTime != null">
                and #{t.updateTime}
            </if>
            <if test="t.lastLoginTime != null">
                and #{t.lastLoginTime}
            </if>
            <if test="t.desc != null and t.desc != ''">
                and #{t.desc}
            </if>
        </where>
    </sql>

    <select id="findOfList" resultMap="BaseResultMap">
        select * from t_user
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select * from t_user
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_user
        where u_id=#{id}
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_user
        <include refid="selectWhere"/>
    </select>

    <insert id="addOne">
    insert into t_user (wx_openid, u_account,
      u_password, nick_name, gender,
      email, phone, avatarUrl,
      country, province, city,
      status, create_time, update_time,
      last_login_time, `desc`)
    values (#{wxOpenid,jdbcType=VARCHAR}, #{uAccount,jdbcType=VARCHAR},
      #{uPassword,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR},
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR})
    </insert>

    <update id="updateOne">
        update t_user
        <set>
            <if test="t.wxOpenid != null and t.wxOpenid != ''">
                wx_openid = #{t.wxOpenid},
            </if>
            <if test="t.uAccount != null and t.uAccount != ''">
                u_account = #{t.uAccount},
            </if>
            <if test="t.uPassword != null and t.uPassword != ''">
                u_password = #{t.uPassword},
            </if>
            <if test="t.nickName != null and t.nickName != ''">
                nick_name = #{t.nickName},
            </if>
            <if test="t.gender != null">
                gender = #{t.gender},
            </if>
            <if test="t.email != null and t.email != ''">
                email = #{email},
            </if>
            <if test="t.phone != null and t.phone != ''">
                phone = #{t.phone},
            </if>
            <if test="t.avatarurl != null and t.avatarurl != ''">
                avatarUrl = #{t.avatarurl},
            </if>
            <if test="t.country != null and t.country != ''">
                country = #{t.country},
            </if>
            <if test="t.province != null and t.province != ''">
                province = #{t.province},
            </if>
            <if test="t.city != null and t.city != ''">
                city = #{t.city},
            </if>
            <if test="t.status != null">
                status = #{status},
            </if>
            <if test="t.createTime != null">
                create_time = #{createTime},
            </if>
            <if test="t.updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="t.lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="t.desc != null and t.desc != ''">
                `desc` = #{desc},
            </if>
        </set>
        where u_id = #{uId}
    </update>





</mapper>