<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.library.mapper.LookMapper">
  <resultMap id="BaseResultMap" type="com.github.library.entity.Look">
    <id column="lk_id" jdbcType="INTEGER" property="lkId" />
    <result column="stu_no" jdbcType="INTEGER" property="stuNo" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.github.library.entity.Look">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    lk_id, stu_no, stu_name, time
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_look
    where lk_id = #{lkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_look
    where lk_id = #{lkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.library.entity.Look">
    insert into t_look (lk_id, stu_no, stu_name, 
      time, detail)
    values (#{lkId,jdbcType=INTEGER}, #{stuNo,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.library.entity.Look">
    insert into t_look
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lkId != null">
        lk_id,
      </if>
      <if test="stuNo != null">
        stu_no,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lkId != null">
        #{lkId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null">
        #{stuNo,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.library.entity.Look">
    update t_look
    <set>
      <if test="stuNo != null">
        stu_no = #{stuNo,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.github.library.entity.Look">
    update t_look
    set stu_no = #{stuNo,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.library.entity.Look">
    update t_look
    set stu_no = #{stuNo,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.library.entity.Look">
    <id column="lk_id" jdbcType="INTEGER" property="lkId" />
    <result column="stu_no" jdbcType="INTEGER" property="stuNo" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.github.library.entity.Look">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    lk_id, stu_no, stu_name, time
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_look
    where lk_id = #{lkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_look
    where lk_id = #{lkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.library.entity.Look">
    insert into t_look (lk_id, stu_no, stu_name, 
      time, detail)
    values (#{lkId,jdbcType=INTEGER}, #{stuNo,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.library.entity.Look">
    insert into t_look
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lkId != null">
        lk_id,
      </if>
      <if test="stuNo != null">
        stu_no,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lkId != null">
        #{lkId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null">
        #{stuNo,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.library.entity.Look">
    update t_look
    <set>
      <if test="stuNo != null">
        stu_no = #{stuNo,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.github.library.entity.Look">
    update t_look
    set stu_no = #{stuNo,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.library.entity.Look">
    update t_look
    set stu_no = #{stuNo,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where lk_id = #{lkId,jdbcType=INTEGER}
  </update>
</mapper>