<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangmonkmeat.mapper.IllegalMapper">
    <resultMap id="BaseResultMap" type="com.github.tangmonkmeat.entity.Illegal">
        <id column="i_id" jdbcType="INTEGER" property="iId" />
        <result column="stu_no" jdbcType="INTEGER" property="stuNo" />
        <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </resultMap>

    <sql id="selectWhere">
        <where>
            <if test="iId != null">
                and i_id = #{iId}
            </if>
            <if test="stuNo != null">
                and stu_no = #{stuNo,jdbcType=INTEGER}
            </if>
            <if test="stuName != null and stuName != ''">
                and stu_name = #{stuName,jdbcType=VARCHAR}
            </if>
            <if test="time != null">
                and time = #{time,jdbcType=TIMESTAMP}
            </if>
            <if test="score != null">
                and score = #{score,jdbcType=INTEGER}
            </if>
            <if test="remarks != null">
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
            <if test="true">
                or 1=0
            </if>
        </where>
    </sql>

    <sql id="Base_Column_if1_Selective">
        <if test="iId != null">
            i_id,
        </if>
        <if test="stuNo != null">
            stu_no,
        </if>
        <if test="stuName != null">
            stu_name,
        </if>
        <if test="time != null">
            time,
        </if>
        <if test="score != null">
            score,
        </if>
        <if test="remarks != null">
            remarks,
        </if>
    </sql>

    <sql id="Base_Column_if2_Selective">
        <if test="iId != null">
            #{iId,jdbcType=INTEGER},
        </if>
        <if test="stuNo != null">
            #{stuNo,jdbcType=INTEGER},
        </if>
        <if test="stuName != null">
            #{stuName,jdbcType=VARCHAR},
        </if>
        <if test="time != null">
            #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="score != null">
            #{score,jdbcType=INTEGER},
        </if>
        <if test="remarks != null">
            #{remarks,jdbcType=VARCHAR},
        </if>
    </sql>

    <select id="findOfList" resultMap="BaseResultMap">
        select * from t_illegal
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_illegal
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_illegal
        where i_id=#{iId}
    </select>

    <select id="findOneSelective" resultMap="BaseResultMap">
        select * from t_illegal
        <include refid="selectWhere"/>
    </select>

    <insert id="addOneSelective" parameterType="com.github.tangmonkmeat.entity.Illegal">
        insert into t_illegal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if1_Selective"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if2_Selective"/>
        </trim>
    </insert>

    <update id="updateOneSelective" parameterType="com.github.tangmonkmeat.entity.Illegal">
        update t_illegal
        <set>
            <if test="stuNo != null">
                stu_no = #{stuNo,jdbcType=INTEGER},
            </if>
            <if test="stuName != null">
                stu_name = #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where lk_id = #{lkId,jdbcType=INTEGER}
    </update>

    <delete id="deleteOne" parameterType="int">
        delete from t_Illegal
        where i_id = #{iId,jdbcType=INTEGER}
    </delete>


</mapper>