<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangmonkmeat.mapper.PowerMapper">

    <resultMap id="BaseResultMap" type="com.github.tangmonkmeat.entity.Power">
        <id column="p_id" jdbcType="INTEGER" property="pId" />
        <result column="p_level" jdbcType="INTEGER" property="pLevel" />
    </resultMap>


    <sql id="selectWhere">
        <where>
            <if test="pId != null">
                and p_id=#{pId}
            </if>
            <if test="pLevel != null">
                and p_level=#{pLevel}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_if1_Selective">
        <if test="pId != null">
            p_id,
        </if>
        <if test="pLevel != null">
            p_level,
        </if>
    </sql>

    <sql id="Base_Column_if2_Selective">
        <if test="pId != null">
            #{pId,jdbcType=INTEGER},
        </if>
        <if test="pLevel != null">
            #{pLevel,jdbcType=INTEGER},
        </if>
    </sql>

    <select id="findOfList" resultMap="BaseResultMap">
        select * from t_power
        <include refid="selectWhere"/>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_power
        <include refid="selectWhere"/>
    </select>

    <select id="findOne" resultMap="BaseResultMap">
        select * from t_power
        where n_id=#{nId}
    </select>

    <select id="findOneSelective" resultMap="BaseResultMap">
        select * from t_power
        <include refid="selectWhere"/>
    </select>



    <insert id="addOneSelective">
        insert into t_power
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if1_Selective"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_if2_Selective"/>
        </trim>
    </insert>

    <update id="updateOneSelective">
        update t_power
        <set>
            <if test="pLevel != null">
                p_level = #{pLevel,jdbcType=INTEGER},
            </if>
        </set>
        where p_id = #{pId,jdbcType=INTEGER}
    </update>

    <delete id="deleteOne" parameterType="int">
        delete from t_power
        where p_id = #{pId,jdbcType=INTEGER}
    </delete>

</mapper>